body {
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}

header, footer {
    background-color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

canvas {
    background-color: white;
}

